/* FIXES */
*, html {
    margin:0;
    padding:0;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* END FIXES */

.submit.button {
    display:block;
    height:21px;
    line-height: 19px;
    padding:0px 7px 0px 25px;
    background:url('../images/wfix.png') 7px center no-repeat #ebc100;
    border:1px solid #dfb503;
    border-radius: 2px;
    color:#ffffff;
    text-transform:lowercase;
    font-size:13px;
    font-family:"Verdana";
    float:left;
    margin-right:5px;
}
    .submit.button.voted {
        background:url('../images/gfix.png') 7px center no-repeat #f1f1f1;
        border-color:#dfdfdf;
        color:#999999;
        opacity:0.6;
    }
        .submit.button.voted:hover { border-color:#dfdfdf; }
    .submit.button:hover { border-color: #b18704;}
    .submit.button.gray {
        background:url('../images/gfix.png') 7px center no-repeat #f1f1f1;
        border-color:#dfdfdf;
        color:#999999;
    }
        .submit.button.gray:hover {border-color:#a8a8a8}
.votes {
    line-height: 17px;
    border:1px solid #dfdfdf;
    float: left;
    color:#a8a8a8;
    font-size:13px;
    font-family:"Verdana";
    padding:0px 5px;
    margin-top:1px;
    background:#ffffff;
    border-radius: 3px;
    position: relative;
}
    .votes i, .votes u {
        position: absolute;
        zoom: 1;
        line-height: 0;
        width: 0;
        height: 0;
        left: 0;
        top: 50%;
        margin: -4px 0 0 -4px;
        border: 4px transparent solid;
        border-right-color: #dfdfdf;
        border-left: 0;
    }
    .votes u {
        margin-left: -3px;
        border-right-color: white;
    }
.bookmarklet {font-family:"Helvetica","Arial", sans-serif;}
.bookmarklet h3 {
    font-size:17px;
    color:#333333;
    font-weight:normal;
    text-align: center;
    margin-bottom:15px;
}
    .bookmarklet h3 strong {display:block;}
.bookmarklet form {
    width:80px;
    margin:10px auto;
    height:25px;
}
.bookmarklet .actions {
    clear: both;
    border-top:1px solid #ccc;
    display:block;
    padding-top:15px;
    margin-top:20px;
}
    .bookmarklet .actions a {
        color:#3D87B7;
        font-size:14px;
        text-decoration:none;
    }
        .bookmarklet .actions a:hover {text-decoration:underline;}
    .bookmarklet .actions .view {float:left}
    .bookmarklet .actions .report{float:right}
