
/* FIXES */
*, html { 
	margin:0; 
	padding:0;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* END FIXES */

body { font-family:"Asap", "Helvetica", "Arial", sans-serif; }
a {text-decoration:none; color:#3D87B7;}
a:hover {text-decoration:underline;}

#header {
	width:980px;
	margin:15px auto;
}
	#header .main_title {
		display:block;
		height:150px;
		width:980px;
		background:url('../images/header.jpg') 0 40px no-repeat;
		border-bottom:7px solid #F1F1F1;
	}
		#header .main_title a {
			display:block;
			height:150px;
			width:980px;
			text-indent:-9999999px;
		}
#container {
	width:980px;
	margin:10px auto;
	position:relative;
}
	#container.columns #content {
		width:640px;
		float:left;
	}
	#container.columns #sidebar {
		width:300px;
		float:right;
		margin:0;
		background:#F6F6F6;
	}
	#container.report #sidebar {
		position:relative;
	}
	.sending .step {
		color:#333333;
		font-size:30px;
		font-weight:normal;
		margin-bottom:40px;
	}
	.title {
		color:#333333;
		font-size:30px;
		font-weight:normal;
		margin-bottom:20px;
	}
		.title .submit {
			float:right;
			margin-top:-7px;
		}
		.sending .label {
			color:#333333;
			font-size:17px;
			font-weight:bold;
			display:block;
			margin-bottom:10px;
		}
			.sending .label .tip {
				font-size:12px;
				color:#7F7F7F;
				font-weight:normal;
			}
	.report_info {
		position: relative;
		border-bottom:7px solid #F1F1F1;
		padding-bottom:15px;
		margin-bottom:20px;
	}
		.report_info .screenshot {
			float:left;
			text-align:center;
			width:180px;
			margin-right:20px;
		}
		.report_info .screenshot .url_sent {
			display:block;
			font-size:14px;
			margin:10px 0;
		}
		.report_info .title {
			position:absolute;
			left:200px;
			bottom:85px;
			font-weight:bold;
		}
		.report_info .report_meta {
			position:absolute;
			left:200px;
			bottom:51px;
			font-size:14px;
		}
			.report_info .report_meta .authorship {
				margin-bottom:10px;
				background:url('../images/icons.png') no-repeat 0 -52px;
				padding-left:17px;
				line-height:11px;
			}
		.action_title {
			font-size:20px;
			font-weight:normal;
			color:#999999;
			text-align:center;
			font-style:italic;
			margin:30px 0;
		}
			.action_title strong {
				display:block;
				font-size:25px;
				color:#666666;
			}
	.sending .wrap_type {
	    display:block;
	    background:#CCA100;
	    font-size:20px;
	    line-height:70px;
	    width:319px;
	    color:#ffffff;
	    float:left;
	    margin-right:1px;
	    text-align:center;
	    margin-bottom:5px;
	}
		.sending .wrap_type.active {
			background:#EAC000;
		}
		.sending .wrap_create_report {width:580px;}
	.sending  .text {
		border:1px solid #CBCBCB;
		color:#7F7F7F;
		font-size:17px;
		padding:10px;
		width:560px;
	}
	.sending .fields_wrap {
		background:#F6F6F6;
		padding:30px;
		display:none;
		margin-bottom:20px;
	}
		.sending .fields_wrap.open {display:block;}
		.sending .fields_wrap .row {
			margin-bottom:20px;
		}
		.sending .fields_wrap .option {margin-bottom:5px;}
		.sending .fields_wrap .option input {float:left;}
		.sending .fields_wrap .option label {
			margin-left:10px;
			font-size:14px;
			float:left;
			width:550px;
		}
			.sending .fields_wrap .option.checked label {font-weight:bold;}
		.sending .fields_wrap .text {
			width:560px;
		}
		.sending .fields_wrap .select, .sending .fields_wrap .textarea {
			border:1px solid #CBCBCB;
			color:#7F7F7F;
			font-size:14px;
			padding:10px;
			width:560px;
		}
		.sending .fields_wrap .select {width:580px;}
		.sending .fields_wrap .textarea {
			resize:none;
			height:150px;
		}
		.sending .fields_wrap .urls {margin-bottom:10px;}
		.sending .fields_wrap .add_url {
			color:#3D87B7;
			font-size:15px;
		}
		.sending span {display:block;}
		.sending .help {
			font-size:12px;
			color:#333333;
			display:block;
			background:#DCDCDC;
			padding:10px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			margin-top:5px;
			display:none;
		}
			.sending .wrap_urls .help { margin-top:-5px; margin-bottom:10px;} 
		.sending span.error {
			font-size:12px;
			color:#AE1E1E;
			display:block;
			background:#F8CCCC;
			padding:10px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			margin-top:5px;
		}
			.sending  .wrap_error .help {display:none;}
			.sending  .wrap_urls span.error { margin-top:-5px; margin-bottom:10px;} 
		.sending .submit {display:none; float:right;}
		.sending .add {
			color:#EAC000;
			font-size:15px;
			margin:10px 0;
			display:none;
			float:left;
			border:0;
			background:url('../images/icons.png') 0 -20px no-repeat;
			line-height:20px;
			padding-left:25px;
			cursor:pointer;
		}
		.sending .edit {
			color:#EAC000;
			font-size:15px;
			margin:10px 0;
			display:block;
			float:left;
			border:0;
			background:transparent;
			line-height:20px;
			padding-left:25px;
			cursor:pointer;
		}
		.sending.preview .submit, .sending.preview .add, .sending.editing .add, .sending.editing .submit, .sending.new .submit {display:block;}
		#add_more {display:none;}

		.subreport {
			margin-bottom:30px;
			border-top:1px solid #CBCBCB;
			padding-top:20px;
			color:#333333;
			font-size:14px;
		}
		.subreport .subreport_title {
			font-size:20px;
			font-weight:700;
			margin-bottom:15px;
			line-height:25px;
		}
		.subreport .authorship {
			margin-bottom:15px;
			background:url('../images/icons.png') no-repeat 0 -52px;
			padding-left:17px;
			line-height:11px;
		}
		.subreport .subreport_types {
			margin-bottom:20px;
			color:#ffffff;
			font-size:13px;
			line-height:31px;
		}
			.subreport .subreport_types .type {
				background:#EAC000;
				text-transform:uppercase;
				float:left;
				padding:0 10px;
				font-weight:bold;
				border-bottom-left-radius: 4px;
				border-top-left-radius: 4px;
			}
			.subreport .subreport_types .type_info {
				border-bottom-right-radius: 4px;
				border-top-right-radius: 4px;
				float:left;
				padding:0 10px;
				background:#CCA100;

			}
		.subreport .counter {
			float:left;
			font-size:30px;
			color:#999999;
			width:110px;
			font-weight:700;
		}
			.subreport .counter strong {
				float:left;
				margin-left:10px
			}
			.subreport .counter .votes_buttons {
				float:left;
			}
			.subreport .counter .report_vote {
				width:14px;
				height:6px;
				background:url('../images/icons.png') no-repeat 0 -46px;
				text-indent:-999999px;
				display:block;
				margin:10px;
			}
			.subreport .counter .up {
				margin-top:6px;
				background-position:0 -40px;
			}	
		.subreport .subreport_info {
			width:530px;
			float:right;
		}

		
		.subreport .toggle_info {
			margin-bottom:20px;
			display:block;
			background:url('../images/icons.png') no-repeat 0 -100px;
			padding-left:20px;
			line-height:14px;
		}
			.subreport .toggle_info.show {
				background-position:0 -85px; 
			}
		.subreport .subreport_content {
			color:#7F7F7F;
			line-height:21px;
			display:none;
			background:#F6F6F6;
			padding:15px;
		}
		.subreport .subreport_urls {
			font-size:15px;
			color:#333333;
			font-weight:bold;
			margin:20px 0 10px 0;
		}
		
		.subreport .source {
			display:block;
			margin-bottom:5px;
		}

		
#sidebar .counter {
	font-size:17px;
	color:#ffffff;
	background:#656565;
	padding:10px 45px 20px 45px;
	text-align:center;
	margin-bottom:30px;
	font-weight:bold;
	font-style:italic;
}
	#sidebar .counter .count {
		font-size:75px;
		color:#ffffff;
		display:block;
		font-style:none;
	}
	#sidebar .counter .action-title {
		font-weight:normal;
		font-size:20px;
		border-top:1px dashed #F2F2F2;
		margin-top:15px;
		padding-top:15px;
	}


/* Botones */
.button {
	display:block;
	font-size:17px;
	color:#ffffff;
	border:1px solid #2760BF;
	box-shadow: 0 0 0 1px rgba(255,255,255,0.3) inset; 
	border-radius:6px;
	padding:0 15px;
	line-height:40px;
	margin:10px 0;
	cursor:pointer;
	position:relative;
	background: url('../images/icons-button.png') left -110px no-repeat;

}
.button.icon {
	background-position:right 0;
	padding:0 80px 0 20px;
	line-height:55px;
	font-size:21px;
	text-transform:uppercase;	
	border-color:#CCA100;
}
	.button.icon.share { 
		background-position: right -110px;
		border-color:#2760BF;
	}
	.button.icon.add_report {
		background-position: right -220px;
		border-color:#F47316;
	}
	.button .subtitle {
		position:absolute;
		width:100%;
		text-align:center;
		bottom:-20px;
		left:0;
		color:#999999;
		font-size:14px;
		text-transform:none;
		line-height:14px;
		font-style:italic;
	}
	.button:hover {text-decoration:none;}
.sending_url .button {float:left;}
.sending_url .button.share {margin:10px 50px 10px 60px;}
.report #sidebar .button {
	width:125px;
	margin:0px auto 50px auto;
}
/* Desarrollo */

.reports_list {
	list-style:none;
}
select,textarea,input[type=text] {display:block;width:600px;}

input#username, input#email, input#password, input#repassword {display:block;width:300px;}

.menu {
	background:#ffffff;
	list-style:none;
	border-bottom:7px solid #f1f1f1;
	margin-bottom:20px;
	/*display:none;*/
}
	.menu li {
		display:block;
		float:left;
		font-size:15px;
		text-transform:uppercase;
		padding:5px 10px;
		color:#777777;

	}
		.menu .right {
			float:right;
		}
		.menu li a {color:#777777;}